extends layout

block content
      <div id="cabecera">
        <div id="titulo"><strong>STOP STUDYING WITH DOGS </strong></div>
        <div id="navContenedor">
            <div id="cabeceraContenido">
                <img id="imgLogo" src="images/logo.jpg">
                <nav id="navCabecera">
                    <a class="enlaceCabecera" href="/login">Login</a>
                    <a class="enlaceCabecera" href="">Register</a>
                    <a class="enlaceCabecera" href="">Información</a>
                    <a class="enlaceCabecera" href="/misRutasRouter/help">Ayuda</a>
                </nav>
            </div>
        </div>


