extends layout

block content
    <div id="cabecera">
        <div id="titulo"><strong>STOP STUDYING WITH DOGS </strong></div>
        <div id="navContenedor">
            <div id="cabeceraContenido">
                <img id="imgLogo" src="images/logo.jpg">
                <nav id="navCabecera">
                    <a class="enlaceCabecera" href="/login">Login</a>
                    <a class="enlaceCabecera" href="/misRutasRouter/register">Register</a>
                    <a class="enlaceCabecera" href="/misRutasRouter/help">Ayuda</a>
                </nav>
        </div>
    </div>
    <div style="display:flex; width:100%">
    <div id="video">
        <video controls="true">
            <source src="./videos/video-explicacion.mp4" type="video/mp4">
        </video>
    </div>
    </div><br>
    <div class="contenedorColumna">
        <div class="grupos"><strong> STUDYING WITH DOGS </strong></div>
        <br>
        <div>
            <label class="descripcion"> Se ha experimentando en Barcelona con perros Beagle para el estudio de ciertos fármacos. Esta campaña está recolentando dinero para impedir el uso de los animales domesticos como ratas de laboratorio.
            </label>
        </div>
    </div>
    



