extends layout

block content
    <div style="display:flex; width:100%">
    <div id="video">
        <video controls="true">
            <source src="./videos/video-explicacion.mp4" type="video/mp4">
        </video>
    </div>
    </div><br>
    <div class="contenedorColumna">
        <div class="grupos"><strong> STUDYING WITH DOGS </strong></div>
        <br>
        <div>
            <label class="descripcion"> Se ha experimentando en Barcelona con perros Beagle para el estudio de ciertos fármacos. Esta campaña está recolentando dinero para impedir el uso de los animales domesticos como ratas de laboratorio.
            </label>
        </div>
    </div>
    



